{{>/setLayout/mainNav}}
<!--content-->
<div class="mb-5 container-fluid text-center">
    <hr>
    <br>
    <br>
    <br>
    <br>
    <h1>각종 컨텐츠들 </h1>
</div><div class="mb-5 container-fluid text-center">
    <hr>
    <br>
    <br>
    <br>
    <br>
    <h1>각종 컨텐츠들 </h1>
</div><div class="mb-5 container-fluid text-center">
    <hr>
    <br>
    <br>
    <br>
    <br>
    <h1>각종 컨텐츠들 </h1>
</div><div class="mb-5 container-fluid text-center">
    <hr>
    <br>
    <br>
    <br>
    <br>
    <h1>각종 컨텐츠들 </h1>
</div>
<!--footer-->

{{>/setLayout/mainFoot}}