{{>/setLayout/mainNav}}
<!--content-->

<br>
<br>
<br>
<br>
<br>
<form action="fileUpload" method="post" enctype="multipart/form-data">
<div>
    <input multiple="multiple" type="file" name="fileName" placeholder="사진요청">
</div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control"rows="3" name="post"></textarea>
    </div>

    <div>
        <button type="submit" name="save">
            Submit<i class="mdi-content-send right"></i>
            </button>
    </div>
</form>














{{>forYou/setLayout/mainFoot}}