<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>로그인 (Please sign in)</title>
	    <link rel="stylesheet" href="./login.css">
</head>
<body>
<div class="container">
    <h2 class="form-signin-heading">로그인이 필요한 페이지입니다.</h2>
    <p>(Login with OAuth 2.0)</p>
    <p>외부 로그인 계정을 선택해주세요.</p>
    <table class="table table-striped" th:each="url : ${urls}">
        <tr>
            <td><a href="#" th:href="${url.value}" th:text="${url.key}">Naver</a></td>
        </tr> 
    </table>
</div>
</body>
</html>