<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="wrap">
        <div class="login">
            <h2>FOR u</h2>
            <div class="submit">
                <input type="submit" id="googleId" value="Google Login" th:onclick="'location.href=\''+ @{/login/google} + '\''">
            </div>
            <div class="submit">
              <input type="submit" id="naverId" value="Naver Login" th:onclick="'location.href=\''+ @{/login/naver} + '\''">
            </div>
            <div class="submit">
              <input type="submit" id="facebookId" value="Facebook Login" th:onclick="'location.href=\''+ @{/login/facebook} + '\''">
            </div>
            <div class="submit">
              <input type="submit" id="kakaoId" value="Kakao Login" th:onclick="'location.href=\''+ @{/login/kakao} + '\''">
            </div>
            <div class="submit">
              <input type="submit" id="buttonId" value="통합 로그인" th:onclick="'location.href=\''+ @{/login} + '\''">
            </div>
            <div class="submit">
              <input type="submit" id="buttonId" value="Main Page" th:onclick="'location.href=\''+ @{/foryou/main} + '\''">
            </div>
            <div th:if="${session.user != null}">

            <br><br><br>
            [[${session.user.email}]],[[${session.user.name}]]
            </div>
            <div class="submit">
            <input type="submit" id="buttonId" value="logout" th:onclick="'location.href=\''+ @{/logout} + '\''">
            </div>
        </div>
    </div>
</div>
</body>
</html>